#calculator{
    height: 500px;
    width: 400px;
    margin: 10px auto;
    border: 5px solid lightgrey;
    border-radius: 5px;
    background-color: rgb(114, 114, 212);
}

#result{
    height: 45px;
    border: 3px solid lightgrey;
    margin: 5px;
    margin-bottom: 0px;
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: right;
    border-radius: 5px;
    background-color: rgb(218, 206, 190);
}

#buttons{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin-left: 1px;
}

#clear{
    width: 194px;
    background-color: tomato;
}

#clear:hover{
    background-color: palevioletred;
}

button{
    height: 87px;
    width: 97px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(83, 170, 170);
    border: 1px solid black;
    border-radius: 3px;
}

button:hover{
    background-color: rgb(25, 99, 99);
    color: white;
}